*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

body {
    background-color: black;
}

.banner {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 605px;
    border-bottom: 1px solid #31A8DD;
    background-image: linear-gradient(rgba(0,0,0, .6), rgba(49,168,221, .2), rgba(0,0,0, .6)), url("assets/images/banner.png");
}


