*{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    list-style: none;
}

.banner {
    display: flex;
    justify-content: center;
    width: 1440px;
    height: 605px;
    border-bottom: 1px solid #31A8DD;
    background: linear-gradient(#000 60%, #31A8DD);
    background-image: url('assets/images/banner.png');
    background-blend-mode: normal;
}
